.content-card-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.938rem;
  padding: 0rem 6rem;
  margin-top: -3rem;
  .card-title-left {
    @include cardTitleLeft;
  }
  .card-description-left {
    @include cardDescriptionLeft;
  }
  .content-lottie-ux {
    width: 100%;
    max-width: 240px;
    position: relative;
    transform: translate(13rem, 6.5rem);
  }
  .content-lottie-webApps {
    position: absolute;
    transform: translate(17rem, 10rem);
    max-width: 250px;
  }
  .content-lottie-apps-mobile {
    transform: rotateY(198deg) translate(-24rem, -9rem);
    height: 261px;
    position: relative;
  }
}
.content-ux{
  margin-left: -1rem;
}
.content-web-apps {
  margin-top: 8rem;
  margin-left: -1rem;
}
.content-apps-mobile {
  margin-top: 8rem;
  margin-left: -1rem;
}
.content-best-webs {
  margin-top: 8rem;
  margin-left: -1rem;
}
.dots-left {
  z-index: 1;
  position: absolute;
  margin-top: 8.2rem;
  display: flex;
  flex-direction: column;
  .dots-icon-left {
    width: 100%;
    height: 85px;
    img {
      cursor: pointer;
    }
  }
}
.active-left {
  background: $blue;
}
@media only screen and (min-width: 0px) and (max-width: 420px) {
  .content-card-left {
    width: 100%;
    height: 100%;
    margin-left: 0rem;
    padding: 0rem;
    .card-title-left {
      font-size: 3rem;
      line-height: 4.313rem;
    }
    .card-description-left {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  .dots-left {
    gap: 0.4rem;
    right: 2rem;
    top: 20rem;
    .dots-icon-left {
      width: 100%;
      height: 100%;
      img {
        height: 45px;
      }
    }
  }
}
