.content-card-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 9rem;
  padding: 3rem 6rem 3rem;
  gap: 0.938rem;
  width: 100%;
  margin-left: -2rem;
  .card-title-right {
    @include cardTitleRight;
  }
  .card-description-right {
    @include cardDescriptionRight;
  }
  .content-lottie-branding {
    width: 100%;
    max-width: 700px;
    position: absolute;
    transform: translate(-3.5rem);
  }
  .content-lottie-socialMedia {
    position: absolute;
    transform: translate(25rem, -10rem);
    overflow: hidden;
  }
  .content-lottie-marketing {
    position: absolute;
    transform: translate(9rem, -6.5rem);
  }
}
.dots-right {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  right: 2rem;
  .dots-icon-right {
    width: 100%;
    height: 85px;
    img {
      cursor: pointer;
    }
  }
}
.active-right {
  background: $white;
}