.container-description-modal-app-mobile{
  .modal-app-title-left {
    font-family: $font-alfa;
    font-style: normal;
    font-weight: $semi-bold;
    font-size: 3.75rem;
    line-height: 4.313rem;
    color: $black;
    text-align: center;
  }
  .modal-app-description-left {
    font-family: $font-poppins;
    font-style: mixed;
    font-weight: $semi-bold;
    font-size: 1rem;
    line-height: 1.875rem;
    color: $grays;
    text-align: start;
    padding: 0.5rem 3rem;
    span {
      font-weight: $bold;
    }
  }
  .btn{
    margin-left: 3rem;
  }
}

.modal-title-app-right {
  font-family: $font-alfa;
  font-style: normal;
  font-weight: $semi-bold;
  font-size: 3rem;
  line-height: 3.438rem;
  color: $white;
  width: 100%;
  max-width: 411px;
  margin-top: 1rem;
}
.container-modal-app-img-first {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  padding-top: 3rem;
  .modal-node-logo {
    display: flex;
    flex-direction: column;
    .app-modal-node-img {
      width: 100%;
      max-width: 190px;
    }
    p{
      margin-top: 2.5rem;
    }
  }
  .modal-react-native-logo {
    .app-modal-react-native-img {
      width: 100%;
      max-width: 130px;
    }
    p{
      margin-top: 0.5rem;
    }
  }
  .modal-net-logo {
    .app-modal-net-img {
      width: 100%;
      max-width: 188px;
    }
    p{
      margin-top: 2.5rem;
    }
  }
  p {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: $semi-bold;
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: center;
    color: $white;
  }
}
.container-modal-app-img-two {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
  margin-top: 3rem;
  img {
    width: 100%;
    max-width: 150px;
  }
}
.lottie-modal-app-mobile {
  width: 100%;
  max-width: 200px;
  margin-top: 3rem;
  margin-left: 3rem;
}
@media only screen and (min-width: 0px) and (max-width: 420px) {
  .modal-title-app-right {
    display: none;
  }
  .lottie-modal-app-mobile {
    padding: 0rem;
    margin-top: 5rem;
  }
  .container-description-modal-app-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2rem;
  }
  .modal-app-title-left {
    font-size: 3rem;
    line-height: 4.313rem;
    margin-bottom: 0rem;
    text-align: start;
  }
  .modal-app-description-left {
    font-size: 1rem;
    line-height: 1.875rem;
    padding: 0rem;
  }
  .container-modal-app-img {
    gap: 0rem;
    padding: 0rem;
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      width: 0px;
    }
    .app-modal-img {
      position: relative;
      overflow: scroll;
      margin-left: 1rem;
      margin-right: 1rem;
      height: 428px;
      margin-top: -3rem;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        width: 0px;
      }
    }
  }
}
