
html, body{
    font-family: $font-poppins;
    
}
body{
    scroll-behavior: smooth;
    overflow: hidden;
}

.btn{
    color: $white;
    background: $background-button;
    border: $border-button;
    border-radius: 15px;
    width: 226px;
    height: 50px;
    font-family: $font-poppins;
    font-weight: $semi-bold;
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    cursor: pointer;
    position: relative;
}