.background-header-about {
  background: $background-container-blue;
  height: 100px;
  width: 100%;
}
.content-left-about {
  display: flex;
  flex-direction: column;
  margin-left: 3.125rem;
  padding: 0rem 6rem 0rem 6rem;
  margin-top: 2rem;
  gap: 1rem;
  .title-left-about {
    font-family: $font-alfa;
    font-style: normal;
    font-weight: $semi-bold;
    font-size: 6rem;
    line-height: 5.625rem;
    color: $black;
  }
  .description-left-about {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: $semi-bold;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: $grays;
    .span-left-about {
      font-weight: $bold;
      gap: 0rem;
    }
  }
}
.keen-slider {
  width: 100%;
  height: auto;
}
.slide-content {
  display: flex;
  flex-direction: column;
  .lottie-content {
    width: 500px;
    height: 150px;
    transform: translate(100px);
    .lottie-slide {
      width: 100%;
      height: auto;
    }
  }
  .slide-count {
    color: $blue;
    font-family: $font-alfa;
    font-style: $semi-bold;
    font-style: normal;
    font-size: 4rem;
    line-height: 4.313rem;
    padding-top: 0.625rem;
  }
  .slide-title {
    font-family: $font-alfa;
    font-style: normal;
    font-weight: $semi-bold;
    font-size: 4rem;
    line-height: 3.438rem;
    color: $black;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: justify;
  }
  .slide-description {
    font-family: $font-poppins;
    font-style: normal;
    font-weight: $semi-bold;
    font-size: 1rem;
    line-height: 1.875rem;
    color: $grays;
    strong {
      font-weight: $bold;
    }
  }
}
